<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>密码</th>
        </tr>
        <tr th:each="user : ${page}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
        </tr>
    </table>
</div>
<div>
    <a th:href="@{'/getpage2/0'}">首页</a>
    <a th:href="@{'/getpage2/'+${userPageInfo.getPrePage()}}">上一页</a>
    <a th:text="${userPageInfo.getPageNum()}">当前页</a>
    <a th:href="@{'/getpage2/'+${userPageInfo.getNextPage()}}">下一页</a>
    <a th:href="@{'/getpage2/'+${userPageInfo.getNavigateLastPage()}}">末页</a>
</div>
</body>
</html>